  <div class="jumbotron">

    <div class="po">
      <p class="title">行动派是一个提供工作机会的求职网站。</p>
      <p class="slogan">"The distance between your dreams and reality is called action"</p>
      <p class="lead">
        <a class="btn btn-lg btn-danger" href="/jobs">立即应聘</a>
        <% if !current_user %>
        <%= link_to("我要招人", new_user_registration_path, class: "btn btn-lg btn-danger") %>
        <% else %>
        <%= link_to("我要招人", admin_jobs_path, class: "btn btn-lg btn-danger") %>
        <% end %>
      </p>
    </div>

  </div>



  <div class="container">
  	<div class="row">
  		<div class="span3">
              <div class="well">
          		<h2 class="muted">Ruby工程师</h2>
          		<p><span class="label label-success">POPULAR</span></p>
          		<ul>
          			<li>熟悉git指令</li>
          			<li>擅长ruby编程</li>
          			<li>一年工作经验</li>
          			<li>有团队精神</li>
          		</ul>
              <p>The distance between your dreams and reality is called action.</p>
           		<h3>$2000 / month</h3>
          		<hr>
          		<p><a class="btn btn-lg btn-danger btn-large" href="/jobs"><i class="icon-ok"></i>立即应聘</a></p>
          	</div>
          </div>
          <div class="span3">
          	<div class="well">
          		<h2 class="muted">php工程师</h2>
          		<p><span class="label label-success">POPULAR</span></p>
          		<ul>
          			<li>熟悉linux指令</li>
          			<li>擅长php+mysql</li>
          			<li>一年工作经验</li>
          		</ul>
            </p>
            <p>The distance between your dreams and reality is called action.</p>

          		<hr>
          		<h3>$1400 / month</h3>
          		<hr>
          		<p><a class="btn btn-lg btn-danger btn-large" href="/jobs"><i class="icon-ok"></i>立即应聘</a></p>
          	</div>
          </div>

  	</div>
  </div>
